.full-page {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  width: 100vw;
  height: 100vh;
}
.side-nav {
  height: 85vh;
  width: 22vw;
  margin: 15px;
  margin-top: 40px;
  background-color: white;
  border-radius: 12px;
  display: inline-block;
  -webkit-box-shadow: 9px 10px 13px -4px rgba(176, 176, 176, 1);
  -moz-box-shadow: 9px 10px 13px -4px rgba(176, 176, 176, 1);
  box-shadow: 9px 10px 13px -4px rgba(176, 176, 176, 1);
}
