.full-page {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  width: 100vw;
  height: 100vh;
}

.full-page .startBox {
  position: absolute;
  background: white;
  width: 55vw;
  height: 25vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 12px;
  -webkit-box-shadow: 9px 10px 13px -4px #b0b0b0;
          box-shadow: 9px 10px 13px -4px #b0b0b0;
  padding-top: 40px;
}

.full-page .startBox .start-text {
  color: black;
  text-align: center;
  display: block;
  letter-spacing: 1px;
  margin-top: 4px;
}

.full-page .startBox .start-link {
  text-decoration: none;
}

.full-page .startBox .start-link .start-btn {
  color: grey;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: capitalize;
  width: 100px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 18px;
  width: 150px;
  height: 43px;
  border: none;
  border-radius: 12px;
  background: #fed6e3;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

.full-page .startBox .start-link .start-btn:hover {
  background: #c3e7e5;
}

.side-nav {
  height: 85vh;
  width: 22vw;
  vertical-align: top;
  margin: 15px;
  margin-top: 25px;
  background-color: white;
  border-radius: 12px;
  display: inline-block;
  -webkit-box-shadow: 9px 10px 13px -4px #b0b0b0;
  box-shadow: 9px 10px 13px -4px #b0b0b0;
  color: grey;
}

.side-nav .side-list {
  list-style: none;
  padding-left: 30px;
  margin-top: 6px;
}

.side-nav .side-list li {
  cursor: pointer;
  color: grey;
  margin-bottom: 8px;
  /* letter-spacing: -0.5px; */
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}

.side-nav h3 {
  padding: 2px;
  padding-left: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.boxes-wrapper {
  -webkit-box-shadow: 9px 10px 13px -4px #b0b0b0;
          box-shadow: 9px 10px 13px -4px #b0b0b0;
  display: inline-block;
  height: 85vh;
  width: 66vw;
  margin-top: 25px;
  margin-left: 21px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
  padding: 14px;
  padding-bottom: 0px;
  padding-top: 7px;
}

.boxes-wrapper .grid-wrap {
  display: -ms-grid;
  display: grid;
  grid-gap: 14px;
      grid-template-areas: "box1 box2 box3 box4 box5" "box6 box7 box8 box9 box10" "box11 box12 box13 box14 box15";
}

.boxes-wrapper .grid-wrap .small-box {
  width: 153px;
  height: 155px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.boxes-wrapper .grid-wrap .small-box img {
  height: 90%;
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
}

.boxes-wrapper .grid-wrap .small-box .title {
  text-align: center;
  display: block;
  text-transform: capitalize;
  font-size: 14px;
}

.audio-box {
  width: 100vw;
  height: 10vh;
  background-color: white;
  position: absolute;
  top: 90%;
}

.audio-box .audioo {
  width: 100%;
  color: black;
  padding-top: 6px;
}
/*# sourceMappingURL=main.css.map */