$font-color: grey;
$font-color2: black;
$border-rad: 12px;
$shadow: 9px 10px 13px -4px rgba(176, 176, 176, 1);
$shadow2: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
.full-page {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  width: 100vw;
  height: 100vh;

  .startBox {
    position: absolute;
    background: white;
    width: 55vw;
    height: 25vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $border-rad;
    box-shadow: $shadow;
    padding-top: 40px;
    .start-text {
      color: $font-color2;
      text-align: center;
      display: block;
      letter-spacing: 1px;
      margin-top: 4px;
    }

    .start-link {
      text-decoration: none;

      .start-btn {
        color: $font-color;
        cursor: pointer;
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: capitalize;
        width: 100px;
        height: 30px;
        display: block;
        margin: 0 auto;
        margin-top: 18px;
        width: 150px;
        height: 43px;
        border: none;
        border-radius: $border-rad;
        background: #fed6e3;
        transition: 0.7s all;
        &:hover {
          background: #c3e7e5;
        }
      }
    }
  }
}

.side-nav {
  height: 85vh;
  width: 22vw;
  vertical-align: top;

  margin: 15px;
  margin-top: 25px;
  background-color: white;
  border-radius: $border-rad;
  display: inline-block;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
  color: $font-color;

  .side-list {
    list-style: none;
    padding-left: 30px;
    margin-top: 6px;
    li {
      cursor: pointer;
      color: $font-color;
      margin-bottom: 8px;
      /* letter-spacing: -0.5px; */
      font-size: 16px;
      text-transform: capitalize;
      font-weight: 500;
    }
  }
  h3 {
    padding: 2px;
    padding-left: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-bottom: 8px;
  }
}

.boxes-wrapper {
  box-shadow: $shadow;
  display: inline-block;
  height: 85vh;
  width: 66vw;
  margin-top: 25px;
  margin-left: 21px;
  border-radius: $border-rad;
  -webkit-box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
  padding: 14px;
  padding-bottom: 0px;
  padding-top: 7px;
  .grid-wrap {
    display: grid;
    grid-gap: 14px;
    grid-template-areas:
      "box1 box2 box3 box4 box5"
      "box6 box7 box8 box9 box10"
      "box11 box12 box13 box14 box15";
    .small-box {
      width: 153px;
      height: 155px;
      margin: 0 auto;
      margin-bottom: 10px;

      img {
        height: 90%;
        width: 100%;
        border-radius: $border-rad;

        box-shadow: $shadow2;
      }
      .title {
        text-align: center;
        display: block;
        text-transform: capitalize;
        font-size: 14px;
      }
    }
  }
}

.audio-box {
  width: 100vw;
  height: 10vh;
  background-color: white;
  position: absolute;
  top: 90%;
  .audioo {
    width: 100%;
    color: black;
    padding-top: 6px;
  }
}
